.container{
    max-width: 500px;
    width: 500px;
    padding: 30px;
    margin: 0 auto; 
    border: 5px solid black;
    border: 5px double;
    background-color: aliceblue;
    padding-left: 100px;

}
.box{
    width: 300px;
    margin: 0 auto;
}
input{
    margin: auto;
}